In [3]:
import pandas as pd
s = pd.Series([10, 20, 30, 40])
p = pd.Series([10, 20, 30], index=["a", "b", "c"])
print(s)     # Notice the automatic index we can give any other aswell
print(p)

0    10
1    20
2    30
3    40
dtype: int64
a    10
b    20
c    30
dtype: int64

In [7]:
# Creating a Dataframe


data = {
 "name": ["Alice", "Bob", "Charlie"],
 "age": [25, 30, 35],
 "city": ["Delhi", "Mumbai", "Bangalore"]
 }
df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [13]:
df.index       # Row labels

RangeIndex(start=0, stop=3, step=1)

In [15]:
df.columns     # Column labels

Index(['name', 'age', 'city'], dtype='object')

In [19]:
df = pd.read_csv("data.csv")
print(df)

                 Actor                      Film  Year            Genre  \
0       Shah Rukh Khan                   Pathaan  2023           Action
1          Salman Khan           Tiger Zinda Hai  2017           Action
2           Aamir Khan                    Dangal  2016        Biography
3        Ranbir Kapoor                Brahmastra  2022          Fantasy
4        Ranveer Singh                 Padmaavat  2018       Historical
5   Ayushmann Khurrana                 Andhadhun  2018         Thriller
6        Rajkummar Rao                     Stree  2018    Horror Comedy
7       Hrithik Roshan                       War  2019           Action
8         Akshay Kumar                Good Newwz  2019           Comedy
9        Kartik Aaryan         Bhool Bhulaiyaa 2  2022    Horror Comedy
10        Varun Dhawan     Badrinath Ki Dulhania  2017  Romantic Comedy
11       Vicky Kaushal  Uri: The Surgical Strike  2019           Action

    BoxOffice(INR Crore)  IMDb
0                   1050   7.2
1                    565   6.0
2                   2024   8.4
3                    431   5.6
4                    585   7.0
5                    111   8.3
6                    180   7.5
7                    475   6.5
8                    318   7.0
9                    266   5.9
10                   201   6.1
11                   342   8.2

In [21]:
# EDA (Exploratory Data Analysis)

df.head(5)

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Actor                 12 non-null     object
 1   Film                  12 non-null     object
 2   Year                  12 non-null     int64
 3   Genre                 12 non-null     object
 4   BoxOffice(INR Crore)  12 non-null     int64
 5   IMDb                  12 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 708.0+ bytes

In [25]:
df.describe()

              Year  BoxOffice(INR Crore)       IMDb
count    12.000000             12.000000  12.000000
mean   2019.000000            545.666667   6.975000
std       2.215647            528.535942   0.981766
min    2016.000000            111.000000   5.600000
25%    2017.750000            249.750000   6.075000
50%    2018.500000            386.500000   7.000000
75%    2019.750000            570.000000   7.675000
max    2023.000000           2024.000000   8.400000

In [29]:
df.shape

(12, 6)

In [31]:
df.ndim

2

In [39]:
df.columns

Index(['Actor', 'Film', 'Year', 'Genre', 'BoxOffice(INR Crore)', 'IMDb'], dtype='object')

#  Data Selection & Filtering

In [50]:
#  Selecting Columns

# df["Film"]

df[["Film","Actor","Year"]]

                        Film               Actor  Year
0                    Pathaan      Shah Rukh Khan  2023
1            Tiger Zinda Hai         Salman Khan  2017
2                     Dangal          Aamir Khan  2016
3                 Brahmastra       Ranbir Kapoor  2022
4                  Padmaavat       Ranveer Singh  2018
5                  Andhadhun  Ayushmann Khurrana  2018
6                      Stree       Rajkummar Rao  2018
7                        War      Hrithik Roshan  2019
8                 Good Newwz        Akshay Kumar  2019
9          Bhool Bhulaiyaa 2       Kartik Aaryan  2022
10     Badrinath Ki Dulhania        Varun Dhawan  2017
11  Uri: The Surgical Strike       Vicky Kaushal  2019

In [52]:
# Selecting Rows by Index
# Use .loc[] (label-based) and .iloc[] (position-based):

df.loc[0]  # First row (by label)
df.iloc[0]  # First row (by position)

Actor                   Shah Rukh Khan
Film                           Pathaan
Year                              2023
Genre                           Action
BoxOffice(INR Crore)              1050
IMDb                               7.2
Name: 0, dtype: object

In [58]:
#  Select Specific Rows and Columns

df.loc[0, "Actor"]    # Value at row 0, column 'Name'
df.iloc[0, 1]    # Value at row 0, column at index

'Pathaan'